{#
/**
 * @file
 * Default theme implementation to present node information.
 *
 * Available variables:
 * - node_info: Related information array
 */
#}
<div class="about-this-node-wrapper">
  <p><span class="label">{{ node_info.node_id.label }}</span> {{node_info.node_id.value}}</p>
  <p><span class="label">{{ node_info.node_type.label }}</span> {{node_info.node_type.value}}</p>
  <p><span class="label">{{ node_info.created.label }}</span> {{node_info.created.value.created_on.value}}</p>
  <p><span class="label">{{ node_info.created.value.created_by.label }}</span> {{node_info.created.value.created_by.value}}</p>
  <p><span class="label">{{ node_info.updated.label }}</span> {{node_info.updated.value.updated_on.value}}</p>
  <p><span class="label">{{ node_info.updated.value.updated_by.label }}</span> {{node_info.updated.value.updated_by.value}}</p>
  <p><span class="label">{{ node_info.published.label }}</span> {{node_info.published.value}}</p>
  <p><span class="label">{{ node_info.promoted.label }}</span> {{node_info.promoted.value}}</p>
  <p><span class="label">{{ node_info.stickied.label }}</span> {{node_info.stickied.value}}</p>
  <p><span class="label">{{ node_info.commenting.label }}</span> {{node_info.commenting.value}}</p>
</div>